<nav class="navbar navbar-expand-lg navbar-dark fixed-top">

  <button class="btn " style="color: white; float: left;width:50px;" type="submit"><i class="fa fa-bars"></i></button>
    
    <a class="navbar-brand ml-4 mt-1" href="#" ><h3>KINGSMART</h3></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav">
      <span class="navbar-toggler-icon"></span>
  </button>

    <div class="collpase navbar-collapse" id="navbarNav">

      <form class="navbar-form mx-5" role="search">
      <div class="input-group md-form form-sm form-2 pl-0" style="width: 550px;">
        <input class=" form-control " type="text" placeholder="Search essentials,groceries and more..." aria-label="Search" required>
        <div class="input-group-append">
          <button class="btn  button" type="submit"><i class="fa fa-search"></i></button>
        </div>
      </div>
      </form>
      <div class="container justify-content-end">
  <ul class="navbar-nav">
    <li class="nav-item mx-2">
        <a class="nav-link" style="color: white;" routerLinkActive="active" href="#">Search with list</a>
  </li>

    <li class="nav-item mx-2">
      <a class="nav-link" style="color: white;" routerLinkActive="active" href="#"><i class="fa fa-shopping-cart"></i>
     Cart</a>
  </li>
    <li class="nav-item mx-2">
     
      <a class="nav-link"  style="color: white;"routerLinkActive="active" href="#"><i class="fa fa-user-circle"></i>
        Sign In</a>
    </li>
    <li class="nav-item mx-2">
     
      <a class="nav-link"  style="color: white;"routerLinkActive="active" href="#">
       More</a>
    </li>
  
  </ul>
</div>
  </div>


</nav>

<div class="navbar container1 static" >
  
  <div class="row row1 justify-content-md-center" >
    <div class="col col-md d-flex justify-content-center pt-0" >
      <ul class="navbar-nav">
        <li class="nav-item">
            <a class="nav-link pt-2" style="color: black;" routerLinkActive="active" href="#"><i class="fa fa-map-marker" aria-hidden="true" style="size:20px;"></i>
         Deliver to<br/>650037</a>
      </li>
      </ul>
 
  </div>
    <div class="col col-md d-flex justify-content-center pt-2">
      <ul  class="nav nav-pills" >
      <li class="nav-item dropdown">
        <a href="#" class="nav-link dropdown-toggle dropdown-link" data-toggle="dropdown" >All categories</a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="#">Action</a>
          <a class="dropdown-item" href="#">Another action</a>
          <div class="dropdown-divider">
          <a class="dropdown-item" href="#">Something else </a>
        </div>
        </div>
    </li>
  </ul>
</div>
  <div class="col col-md d-flex justify-content-center pt-2" >
  <ul  class="nav nav-pills" >
  <li class="nav-item dropdown">
    <a href="#" class="nav-link dropdown-toggle dropdown-link" id="navbarDropdown" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Fruits&Veg</a>
    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
      <a class="dropdown-item" href="#">Action</a>
      <a class="dropdown-item" href="#">Another action</a>
      <div class="dropdown-divider">
      <a class="dropdown-item" href="#">Something else </a>
    </div>
    </div>
</li>
</ul>
</div>
<div class="col col-md d-flex justify-content-center pt-2" >
  <ul  class="nav nav-pills" >
  <li class="nav-item dropdown">
    <a href="#" class="nav-link dropdown-toggle dropdown-link" data-toggle="dropdown" >Dairy&Bakery</a>
    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
      <a class="dropdown-item" href="#">Action</a>
      <a class="dropdown-item" href="#">Another action</a>
      <div class="dropdown-divider">
      <a class="dropdown-item" href="#">Something else </a>
    </div>
    </div>
</li>
</ul>
</div>
<div class="col col-md d-flex justify-content-center pt-2">
  <ul  class="nav nav-pills" >
  <li class="nav-item dropdown">
    <a href="#" class="nav-link dropdown-toggle dropdown-link" data-toggle="dropdown" >Staples</a>
    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
      <a class="dropdown-item" href="#">Action</a>
      <a class="dropdown-item" href="#">Another action</a>
      <div class="dropdown-divider">
      <a class="dropdown-item" href="#">Something else </a>
    </div>
    </div>
</li>
</ul>
</div>
<div class="col  col-md d-flex justify-content-center pt-2">
  <ul  class="nav nav-pills" >
  <li class="nav-item dropdown">
    <a href="#" class="nav-link dropdown-toggle dropdown-link" data-toggle="dropdown" >Snacks</a>
    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
      <a class="dropdown-item" href="#">Action</a>
      <a class="dropdown-item" href="#">Another action</a>
      <div class="dropdown-divider">
      <a class="dropdown-item" href="#">Something else </a>
    </div>
    </div>
</li>
</ul>
</div>
<div class="col  col-md d-flex justify-content-center pt-2">
  <ul  class="nav nav-pills" >
  <li class="nav-item dropdown">
    <a href="#" class="nav-link dropdown-toggle dropdown-link" data-toggle="dropdown" >Beverages</a>
    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
      <a class="dropdown-item" href="#">Action</a>
      <a class="dropdown-item" href="#">Another action</a>
      <div class="dropdown-divider">
      <a class="dropdown-item" href="#">Something else </a>
    </div>
    </div>
</li>
</ul>
</div>
<div class="col  col-md d-flex justify-content-center pt-2">
  <ul  class="nav nav-pills" >
  <li class="nav-item dropdown">
    <a href="#" class="nav-link dropdown-toggle dropdown-link" data-toggle="dropdown" >PersonalCare</a>
    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
      <a class="dropdown-item" href="#">Action</a>
      <a class="dropdown-item" href="#">Another action</a>
      <div class="dropdown-divider">
      <a class="dropdown-item" href="#">Something else </a>
    </div>
    </div>
</li>
</ul>
</div>
<div class="col  col-md d-flex justify-content-center pt-2">
  <ul  class="nav nav-pills" >
  <li class="nav-item dropdown">
    <a href="#" class="nav-link dropdown-toggle dropdown-link" data-toggle="dropdown" >Homecare</a>
    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
      <a class="dropdown-item" href="#">Action</a>
      <a class="dropdown-item" href="#">Another action</a>
      <div class="dropdown-divider">
      <a class="dropdown-item" href="#">Something else </a>
    </div>
    </div>
</li>
</ul>
</div>
<div class="col  col-md d-flex justify-content-center pt-2">
  <ul  class="nav nav-pills" >
  <li class="nav-item dropdown">
    <a href="#" class="nav-link dropdown-toggle dropdown-link" data-toggle="dropdown" >BabyCare</a>
    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
      <a class="dropdown-item" href="#">Action</a>
      <a class="dropdown-item" href="#">Another action</a>
      <div class="dropdown-divider">
      <a class="dropdown-item" href="#">Something else </a>
    </div>
    </div>
</li>
</ul>
</div>
<div class="col  col-md d-flex justify-content-center pt-2">
  <ul  class="nav nav-pills" >
  <li class="nav-item dropdown">
    <a href="#" class="nav-link dropdown-toggle dropdown-link" data-toggle="dropdown" >CovidEssentials</a>
    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
      <a class="dropdown-item" href="#">Action</a>
      <a class="dropdown-item" href="#">Another action</a>
      <div class="dropdown-divider">
      <a class="dropdown-item" href="#">Something else </a>
    </div>
    </div>
</li>
</ul>
</div>


 </div>
</div>


<div id="carouselExampleCaptions" class="carousel slide" data-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="./assets/images/i1.jpeg" class="d-block w-100" alt="">
    </div>
    <div class="carousel-item">
      <img src="./assets/images/i2.jpg" class="d-block w-100" alt="">
    </div>
    
  </div>

    
  <a class="carousel-control-prev" href="#carouselExampleCaptions" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" href="#carouselExampleCaptions" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>

 <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>