<footer class="page-footer font-small footer" >

  <div class="footdiv">
    <div class="container">

      <div class="row px-0 py-4 d-flex align-items-center">
        <div class="col-md-12 col-lg-11 mb-md-0 mx-0 d-flex justify-content-center">
          <h6><a href="#top" >Back to top </a></h6>
        </div>
    
        <div class="col-md-6 col-lg-7 text-center text-md-right">

          

        </div>
        <!-- Grid column -->

      </div>
      <!-- Grid row-->

    </div>
  </div>

  <!--  Links -->
  <div class="container text-center text-md-left mt-5">

    <!-- row -->
    <div class="row mt-3">

      <!--  column -->
      <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
       
        <p>
          <a href="#!">Get to know us</a>
        </p>
        <p>
          <a href="#!">About us</a>
        </p>
        <p>
          <a href="#!">Careers</a>
        </p>
        <p>
          <a href="#!">Press Release</a>
        </p>
        <p>
          <a href="#!">KingsMart Cares</a>
        </p>
        <p>
          <a href="#!">Gift a smile</a>
        </p>

      </div>
     
      <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
        <p>
          <a href="#!">Connect with Us</a>
        </p>
        <p>
          <i class="fa fa-facebook-f mr-3"></i><a href="#!">Facebook</a>
        </p>
        <p>
          <i class="fa fa-twitter mr-3"></i><a href="#!">Twitter</a>
        </p>
        <p>
          <i class="fa fa-instagram mr-3"></i><a href="#!">Instagram</a>
        </p>

      </div>
     
      <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
        <p>
          <a href="#!">Make money with us</a>
        </p>
        <p>
          <a href="#!">Sell on kingsmart</a>
        </p>
        <p>
          <a href="#!">Sell under kingsmart accelator</a>
        </p>
        <p>
          <a href="#!">Become an Affiliate</a>
        </p>
        <p>
          <a href="#!">Fulfillment by Kingsmart</a>
        </p>
        <p>
          <a href="#!">Advertise your Products</a>
        </p>
        <p>
          <a href="#!">Merchants</a>
        </p>

      </div>

      <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
        <p>
          <a href="#!">Let us help you</a>
        </p>
        <p>
          <a href="#!">Covid and KingsLab</a>
        </p>
        <p>
          <a href="#!">Your Account</a>
        </p>
        <p>
          <a href="#!">Return Center</a>
        </p>
        <p>
          <a href="#!">100% Purchase Protection</a>
        </p>
        <p>
          <a href="#!">App Download</a>
        </p>
        <p>
          <a href="#!">Help</a>
        </p>

      </div>
      <!--column -->

    </div>
    <!--  row -->

  </div>
  <!-- Footer Link -->
  <div class="footer-copyright text-center py-3 footlink" >© 2020 Copyright:
    <a href="https://KingsMart.com/"> KingsMart.com</a>
  </div>
</footer>