<app-header></app-header>

<<<<<<< HEAD


<nav class="navbar navbar-expand-lg navbar-dark fixed-top">

  <button class="btn " style="color: white; float: left;width:50px;" type="submit"><i class="fa fa-bars"></i></button>
    
    <a class="navbar-brand ml-4 mt-1" href="#" ><h3>KINGSMART</h3></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav">
      <span class="navbar-toggler-icon"></span>
  </button>

    <div class="collpase navbar-collapse" id="navbarNav">

      <form class="navbar-form mx-5" role="search">
      <div class="input-group md-form form-sm form-2 pl-0" style="width: 550px;">
        <input class=" form-control " type="text" placeholder="Search essentials,groceries and more..." aria-label="Search" required>
        <div class="input-group-append">
          <button class="btn  button" type="submit"><i class="fa fa-search"></i></button>
        </div>
      </div>
      </form>
      <div class="container justify-content-end">
  <ul class="navbar-nav">
    <li class="nav-item mx-2">
        <a class="nav-link" style="color: white;" routerLinkActive="active" href="#">Search with list</a>
  </li>

    <li class="nav-item mx-2">
      <a class="nav-link" style="color: white;" routerLinkActive="active" href="#"><i class="fa fa-shopping-cart"></i>
     Cart</a>
  </li>
    <li class="nav-item mx-2">
     
      <a class="nav-link"  style="color: white;"routerLinkActive="active" href="#"><i class="fa fa-user-circle"></i>
        Sign In</a>
    </li>
    <li class="nav-item mx-2">
     
      <a class="nav-link"  style="color: white;"routerLinkActive="active" href="#">
       More</a>
    </li>
  
  </ul>
</div>
  </div>


</nav>
<div class="navbar container1 static" >
  
  <div class="row row1 justify-content-md-center" >
    <div class="col col-md d-flex justify-content-center pt-0" >
      <ul class="navbar-nav">
        <li class="nav-item">
            <a class="nav-link pt-2" style="color: gray;font-size: small;" routerLinkActive="active" href="#"><i class="fa fa-map-marker" aria-hidden="true" style="size:20px;"></i>
         Deliver to<br/>650037</a>
      </li>
      </ul>
 
  </div>
    <div class="col col-md d-flex justify-content-center pt-2">
      <ul  class="nav nav-pills" >
      <li class="nav-item dropdown">
        <a href="#" class="nav-link dropdown-toggle dropdown-link" data-toggle="dropdown" >All categories</a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="#">Action</a>
          <a class="dropdown-item" href="#">Another action</a>
          <div class="dropdown-divider">
          <a class="dropdown-item" href="#">Something else </a>
        </div>
        </div>
    </li>
  </ul>
</div>
  <div class="col col-md d-flex justify-content-center pt-2" >
  <ul  class="nav nav-pills" >
  <li class="nav-item dropdown">
    <a href="#" class="nav-link dropdown-toggle dropdown-link" id="navbarDropdown" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Fruits&Veg</a>
    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
      <a class="dropdown-item" href="#">Action</a>
      <a class="dropdown-item" href="#">Another action</a>
      <div class="dropdown-divider">
      <a class="dropdown-item" href="#">Something else </a>
    </div>
    </div>
</li>
</ul>
</div>
<div class="col col-md d-flex justify-content-center pt-2" >
  <ul  class="nav nav-pills" >
  <li class="nav-item dropdown">
    <a href="#" class="nav-link dropdown-toggle dropdown-link" data-toggle="dropdown" >Dairy&Bakery</a>
    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
      <a class="dropdown-item" href="#">Action</a>
      <a class="dropdown-item" href="#">Another action</a>
      <div class="dropdown-divider">
      <a class="dropdown-item" href="#">Something else </a>
    </div>
    </div>
</li>
</ul>
</div>
<div class="col col-md d-flex justify-content-center pt-2">
  <ul  class="nav nav-pills" >
  <li class="nav-item dropdown">
    <a href="#" class="nav-link dropdown-toggle dropdown-link" data-toggle="dropdown" >Staples</a>
    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
      <a class="dropdown-item" href="#">Action</a>
      <a class="dropdown-item" href="#">Another action</a>
      <div class="dropdown-divider">
      <a class="dropdown-item" href="#">Something else </a>
    </div>
    </div>
</li>
</ul>
</div>
<div class="col  col-md d-flex justify-content-center pt-2">
  <ul  class="nav nav-pills" >
  <li class="nav-item dropdown">
    <a href="#" class="nav-link dropdown-toggle dropdown-link" data-toggle="dropdown" >Snacks</a>
    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
      <a class="dropdown-item" href="#">Action</a>
      <a class="dropdown-item" href="#">Another action</a>
      <div class="dropdown-divider">
      <a class="dropdown-item" href="#">Something else </a>
    </div>
    </div>
</li>
</ul>
</div>
<div class="col  col-md d-flex justify-content-center pt-2">
  <ul  class="nav nav-pills" >
  <li class="nav-item dropdown">
    <a href="#" class="nav-link dropdown-toggle dropdown-link" data-toggle="dropdown" >Beverages</a>
    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
      <a class="dropdown-item" href="#">Action</a>
      <a class="dropdown-item" href="#">Another action</a>
      <div class="dropdown-divider">
      <a class="dropdown-item" href="#">Something else </a>
    </div>
    </div>
</li>
</ul>
</div>
<div class="col  col-md d-flex justify-content-center pt-2">
  <ul  class="nav nav-pills" >
  <li class="nav-item dropdown">
    <a href="#" class="nav-link dropdown-toggle dropdown-link" data-toggle="dropdown" >PersonalCare</a>
    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
      <a class="dropdown-item" href="#">Action</a>
      <a class="dropdown-item" href="#">Another action</a>
      <div class="dropdown-divider">
      <a class="dropdown-item" href="#">Something else </a>
    </div>
    </div>
</li>
</ul>
</div>
<div class="col  col-md d-flex justify-content-center pt-2">
  <ul  class="nav nav-pills" >
  <li class="nav-item dropdown">
    <a href="#" class="nav-link dropdown-toggle dropdown-link" data-toggle="dropdown" >Homecare</a>
    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
      <a class="dropdown-item" href="#">Action</a>
      <a class="dropdown-item" href="#">Another action</a>
      <div class="dropdown-divider">
      <a class="dropdown-item" href="#">Something else </a>
    </div>
    </div>
</li>
</ul>
</div>
<div class="col  col-md d-flex justify-content-center pt-2">
  <ul  class="nav nav-pills" >
  <li class="nav-item dropdown">
    <a href="#" class="nav-link dropdown-toggle dropdown-link" data-toggle="dropdown" >BabyCare</a>
    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
      <a class="dropdown-item" href="#">Action</a>
      <a class="dropdown-item" href="#">Another action</a>
      <div class="dropdown-divider">
      <a class="dropdown-item" href="#">Something else </a>
    </div>
    </div>
</li>
</ul>
</div>
<div class="col  col-md d-flex justify-content-center pt-2">
  <ul  class="nav nav-pills" >
  <li class="nav-item dropdown">
    <a href="#" class="nav-link dropdown-toggle dropdown-link" data-toggle="dropdown" >CovidEssentials</a>
    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
      <a class="dropdown-item" href="#">Action</a>
      <a class="dropdown-item" href="#">Another action</a>
      <div class="dropdown-divider">
      <a class="dropdown-item" href="#">Something else </a>
    </div>
    </div>
</li>
</ul>
</div>


  </div>
    
</div>
<div class="container container2">
  <br>
  <h2 style="text-align: center;"></h2>
    
</div>
<app-signup></app-signup>
<!-- Footer -->
<footer class="page-footer font-small footer" >

  <div class="footdiv">
    <div class="container">

      <div class="row px-0 py-4 d-flex align-items-center">
        <div class="col-md-12 col-lg-11 mb-md-0 mx-0 d-flex justify-content-center">
          <h6><a href="#top" >Back to top </a></h6>
        </div>
    
        <div class="col-md-6 col-lg-7 text-center text-md-right">

          

        </div>
        <!-- Grid column -->

      </div>
      <!-- Grid row-->

    </div>
  </div>

  <!--  Links -->
  <div class="container text-center text-md-left mt-5">

    <!-- row -->
    <div class="row mt-3">

      <!--  column -->
      <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
       
        <p>
          <a href="#!">Get to know us</a>
        </p>
        <p>
          <a href="#!">About us</a>
        </p>
        <p>
          <a href="#!">Careers</a>
        </p>
        <p>
          <a href="#!">Press Release</a>
        </p>
        <p>
          <a href="#!">KingsMart Cares</a>
        </p>
        <p>
          <a href="#!">Gift a smile</a>
        </p>

      </div>
     
      <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
        <p>
          <a href="#!">Connect with Us</a>
        </p>
        <p>
          <i class="fa fa-facebook-f mr-3"></i><a href="#!">Facebook</a>
        </p>
        <p>
          <i class="fa fa-twitter mr-3"></i><a href="#!">Twitter</a>
        </p>
        <p>
          <i class="fa fa-instagram mr-3"></i><a href="#!">Instagram</a>
        </p>

      </div>
     
      <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
        <p>
          <a href="#!">Make money with us</a>
        </p>
        <p>
          <a href="#!">Sell on kingsmart</a>
        </p>
        <p>
          <a href="#!">Sell under kingsmart accelator</a>
        </p>
        <p>
          <a href="#!">Become an Affiliate</a>
        </p>
        <p>
          <a href="#!">Fulfillment by Kingsmart</a>
        </p>
        <p>
          <a href="#!">Advertise your Products</a>
        </p>
        <p>
          <a href="#!">Merchants</a>
        </p>

      </div>
    
      <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
        <p>
          <i class="fa fa-envelope mr-3"></i> info@kingsmart.com</p>
        <p>
          <i class="fa fa-phone mr-3"></i> + 91 9846811422</p>
        <p>
          <i class="fa fa-print mr-3"></i> + 91 8942428155</p>

      </div>
      <!--column -->

    </div>
    <!--  row -->

  </div>
  <!-- Footer Link -->
  <div class="footer-copyright text-center py-3 footlink" >© 2020 Copyright:
    <a href="https://KingsMart.com/"> KingsMart.com</a>
  </div>

</footer>
<!-- Footer -->
=======
<app-footer></app-footer>
>>>>>>> aa87569874adb0a219c2d4e09906c9bc41abe794
