




<div>

    <div class="container-fluid">
        <div class="row ">
        <div class="card-md-flex col-md-4 col-lg-6 bg-image"></div>
        <div class="col-md-8 col-lg-6">
        <div class=" signup d-flex align-items-center py-5">
        <div class="container">
        <div class="row">
        <div class="col-md-9 col-lg-8 mx-auto">
        <h3 class="signup-heading mb-4" style="color:black">Create Account</h3>   
        <form>
           <div class="form-group">
                <label for="email">EMAIL ID</label>
                <input type="email" class="form-control" id="email" aria-describedby="emailHelp" placeholder="Enter email">
          
           </div>
           <div class="form-group">
                <label for="firstname">FIRST NAME</label>
                <input type="text" class="form-control" id="firstname" placeholder="Enter your First Name">
           </div>
           <div class="form-group">
               <label for="lastname">LAST NAME</label>
               <input type="text" class="form-control" id="lastname" placeholder="Enter your Last Name">
           </div>

           <div class="form-group has-feedback">
              <label for="Password" >PASSWORD</label>
               <input type="password" class="form-control" id="Password" placeholder="Password">
               <i class='fas fa-eye' style='font-size:24px'></i>
           </div>

           <div class="form-group has-feedback">
              <label for="confirmPassword" > CONFIRM PASSWORD</label>
              <input type="password" class="form-control" id="confirmPassword" placeholder="comfirmPassword">
              <i class='fas fa-eye' style='font-size:24px'></i>
              <small id="passhelp" class="form-text " style="color: black;">Use 8 or more characters with a mix of letters,symbols and numbers</small>
            </div>
        
            <div class="form-group">
              <label for="otp" style="color: black;">VERIFYING NUMBER</label><br>
              <small id="otphelp" class="form-text "style="color: black;">We have sent 6 digit OTP on +91 6554545454</small>
              <button type="submit" class="btn " style=" color: red;width: 150px;" >change</button>
              <input type="text" class="form-control" id="otphelp"  placeholder="Enter OTP">
            </div>

            <button type="submit" class="btn" style=" width: 410px; background-color: red;color:white">verify</button>
    </form>
</div>   
</div>
</div>
</div>
</div>
</div>
    
</div>

