@import "~bootstrap/dist/css/bootstrap.min.css";

:root {
  
    --input-padding-x: 1.5rem;
    --input-padding-y: 0.75rem;
    }
    .body {
      background-color:white;
   }
    .signup,
    .image {
    min-height: 100vh;
    }
    .bg-image {
    background-image: url('../signup/signup.png');
    border-radius: 25px;
    background-size: cover;
    background-position: center;
    }
    .signup-heading {
    font-weight: 500;
    }
   
    .form-group {
      font-weight:400;
      position: relative;
      margin-bottom: 1rem;
      color:red;
      }
    .form-group  i{
       
       position: absolute; 
       right: 15px; 
       top: 40px; 
       color: rgb(7, 7, 7); 
     
    }
   
   